<div class="row h-100">
  <div class='data-lis-wrapper'>
    <div class='row'>
      <div class='first-column'>
        <div class='blue-column'>
          <h5 class="center">Pure method calls <span class="badge">{{callPureMethodCount}}</span></h5>
          <ul>
            <li class="p-0" *ngFor="let dateItem of getDateAndTime()">{{ dateItem.count }}.
              {{ dateItem.date | date:'MM/dd/yyy HH:mm:ss' }}
            </li>
          </ul>
        </div>
      </div>
      <div class='second-column'>
        <div class='green-column'>
          <h5 class="center">Pipe method calls <span class="badge">{{callMemoMethodCount}}</span></h5>
          <ul>
            <li class="p-0" *ngFor="let dateItem of getDateAndTimeWithMemo()">{{ dateItem.count }}.
              {{ dateItem.date | date:'MM/dd/yyy HH:mm:ss' }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>